.articleComments {
  width: 66%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  border: 2px solid black;
  border-bottom: none;
  border-top: none;
  overflow: hidden;
  margin-bottom: 2rem;
}
