.containerMainArticles {
  min-width: 40%;
  height: 13%;
  /* background-color: #0d96d5; */
  /* opacity: 0.9; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid black;
  border-left: none;
  border-bottom: none;
}

.avatarImageMainArticles {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 0.15rem;
  border: 1.8px solid black;
  margin-left: 0.4rem;
  background-color: white;
}

.authorNameMainArticles {
  font-size: 0.6rem;
  font-weight: bold;
  color: white;
  margin-left: 0.6rem;
  opacity: 1;
}

.containerArticle {
  min-width: 48%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.2rem;
}

.avatarImageArticle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0.15rem;
  border: 3px solid black;
  margin-left: 1rem;
  background-color: white;
}

.authorNameArticle {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  margin-left: 0.6rem;
  opacity: 1;
}

.containerComments {
  min-width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem;
  margin: 0.5rem;
  margin-left: 1rem;
  border: 2px solid black;
  box-shadow: 2px 2px 10px 2px rgba(90, 90, 90, 0.75);
}

.avatarImageComments {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0.15rem;
  margin-left: 0.4rem;
  background-color: white;
  border: 2px solid black;
}

.authorNameComments {
  font-size: 0.6rem;
  font-weight: bold;
  color: white;
  margin-left: 0.6rem;
  opacity: 1;
}

.tomTickle {
  background-color: #fe8100;
}

.paulGrump {
  background-color: #0d98d5;
}

.amyHappy {
  background-color: #dbbe02;
}

.peterMessy {
  background-color: #e61283;
}

.gemmaBump {
  background-color: #0061ff;
}

.jessJelly {
  background-color: #cf197b;
}
