.commentsController {
  width: 66%;
  height: 4rem;
  background-color: white;
  border: 2px solid black;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commentsControllerExpanded {
  width: 66%;
  height: 5rem;

  border: 2px solid black;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentExpander {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.expanderText {
  font-size: 0.7rem;
  font-weight: bold;
  margin: 0.3rem 0.5rem;
  padding: 0;
  color: white;
}

.expandLess,
.expandMore {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;

  cursor: pointer;
  border: 2.5px solid black;
  border-radius: 50%;
  background-color: white;
}

.expandLess:hover {
  background-color: rgb(24, 205, 24);
}
.expandMore:hover {
  background-color: rgb(24, 205, 24);
}

.postExpander {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-right: 2rem;
  padding: 0rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  background-color: white;
}

.postExpanderText {
  font-size: 0.7rem;
  font-weight: bold;
  margin-right: 0.8rem;
}

.commentIcon {
  font-size: 1.5rem;
  color: black;
}

.commentformClose {
  font-size: 1.8rem;
  margin-right: 3rem;
  cursor: pointer;
}

.coding {
  background-color: #9d6bc6;
}

.football {
  background-color: #f75054;
}

.cooking {
  background-color: #009354;
}
