.mainArticleCard {
  width: 66%;
  height: 22rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
}

.textContainer {
  /* position: absolute; */
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-right: 2px solid black;
}

.category {
  position: relative;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0.2rem 1.4rem;
  background-color: #a5ddf5;
  border: 2px solid black;
  border-top: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.articleTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.2rem;
  padding: 0.2rem 4rem 0 4rem;
  text-align: center;
}

.articleBody {
  padding: 0rem 2.5rem;
  font-size: 0.7rem;
  word-spacing: 0.15rem;
  font-weight: 500;
}

.time {
  margin-top: auto;
  margin-left: auto;
  padding: 1rem 3rem;
}

.timeStamp,
.dateStamp {
  color: rgb(52, 52, 52, 1);
  font-weight: bold;
  font-size: 0.65rem;
}

.timeStamp {
  margin-right: 0.3rem;
}

.imageContainer {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.articleImage {
  width: 100%;
  height: 86%;
}

.articleStats {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  border-top: 2px solid black;
}
