.topicsList {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.defaultTopic {
  width: 100%;
  height: 2.3rem;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
