.voteDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.thumbUp {
  font-size: 1.1rem;
  color: green;
}
.thumbDown {
  color: red;
  font-size: 1.1rem;
}
